/* Hedieh Style Start */
.navBar {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 30px 0 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    justify-content: space-around;

}

.navBar a {
text-decoration: none;
color: #212220;
padding: 3px 5px;
}

.contactLink {
border-bottom: 5px solid #C8CD49;
}
